
<div id="form-home">
  <form id="form-url">
    <label id="lbl-form">Imagen URL:</label>
    <br>
    <input type="url" id="txt-subir-imagen" placeholder="Insertar URL aquí"/>
    <br>
    <p id="message"></p>
    <input type="submit" id="btn-subir-imagen" value="Subir imagen al servidor">
  </form>
</div>
